<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers
      </button>
      <br><br>
      <ul class="list-group">
        <!-- We cannot use two structural directives on the same element -->
        <!-- It means it's not possible to add *ngIf directive in the li because it's configured *ngFor -->
        <!--<li class="list-group-item" *ngFor="let number of numbers">{{number}}</li> -->
        <div *ngIf="onlyOdd">
          <li class="list-group-item" *ngFor="let number of odd" [ngClass]="{odd: number % 2 !== 0}"
              [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow': 'transparent'}">{{number}}</li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" *ngFor="let number of even" [ngClass]="{odd: number % 2 !== 0}"
              [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow': 'transparent'}">{{number}}</li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>

      <p appBasicHighLight>Style me with basic directive!!</p>
      <p appBetterHightlight>Style me with better directive!!</p>

    </div>
  </div>
</div>

